@model ReportOneViewModel
@{
    ViewData["Title"] = "GetStudentByDepartment";
    Layout = "~/Views/Shared/_AdminBoardLayout.cshtml";
    // var Departments = new 
}

<div id="content" class="p-4 p-md-5 pt-5">
    <div class="content-wrapper">
        <!-- Content Header (Page header) ------>
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#" class="text-secondary">Home</a></li>
                            <li class="breadcrumb-item active">Departments</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <form class="my-3" asp-action="Index" asp-controller="Departemt">
            <div class="row">
                <div class="col-sm-8">
                    <input placeholder="Search By Name" name="SearchValue" class="form-control" />
                </div>
                <div class="col-sm-4">
                    <input type="submit" value="Search" class="btn btn-success btn-block" />
                </div>
            </div>
        </form>

        <!-- Main content -->
        <section class="content mb-3">

            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Departments</h3>
                </div>
@*                 <div class="card-body p-0">
                    @if (Model?.Count() > 0)
                    {
                        <table class="table table-striped projects">
                            <thead>
                                <tr>
                                    <th>Student ID</th>
                                    <th>Name</th>
                                    <th>Age</th>
                                    <th>City</th>
                                    <th>Street</th>
                                    <th>Gender</th>
                                    <th>User ID</th>
                                    <th>Department ID</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var student in Model)
                                {
                                    <tr>
                                        <td>@student.StudentId</td>
                                        <td>@student.Name</td>
                                        <td>@student.Age</td>
                                        <td>@student.City</td>
                                        <td>@student.Street</td>
                                        <td>@student.Gender</td>
                                        <td>@student.UserId</td>
                                        <td>@student.DepartmentId</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div class="alert alert-warning">
                            <h4>No Departments Found!!</h4>
                        </div>
                    }
                </div> *@
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </section>
        <div class="row">
            <div class="col-12">
                <a asp-action="Create" class="btn btn-success float-right">Create new Department</a>
            </div>
        </div>
        <!-- /.content -->
    </div>
</div>

