@model IEnumerable<Project.DAL.Entities.Course>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CrsName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExamId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstructorId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CrsName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExamId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionId)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.InstructorId)
            </td>
            <td>
                    @Html.ActionLink("Update", "Update", new { id = item.CourseId }) |
                @Html.ActionLink("Details", "Details", new {  id=item.CourseId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CourseId })
            </td>
        </tr>
}
    </tbody>
</table>
