@using Project.PL.ViewModel
@model StudentViewModel

@{
    SelectList deptLst; 
    if(Model != null)
    {
        deptLst = new SelectList(ViewBag.Departments, "DepartmentId", "DeptName");
    }
    else
    {
        deptLst = new SelectList(ViewBag.Departments, "DepartmentId", "DeptName" , Model.DepartmentId);
    }
}

<div class="card-body p-0">
    <div class="card card-primary">
        <div class="card-body">
            <input hidden type="text" asp-for="@Model.StudentId" />
            <div class="form-group">
                <label asp-for="@Model.Name">Student Name</label>
                <input type="text" asp-for="@Model.Name" class="form-control">
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="@Model.UserId">User ID</label>
                <textarea asp-for="@Model.UserId" class="form-control" rows="4"></textarea>
                <span asp-validation-for="@Model.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.BranchId">Branch ID</label>
                <textarea asp-for="@Model.BranchId" class="form-control" rows="4"></textarea>
                <span asp-validation-for="@Model.BranchId" class="text-danger"></span>
            </div>
           @*  <div class="form-group">
            <label asp-for="@Model.DepartmentId">Department ID</label>
            <textarea asp-for="@Model.DepartmentId" class="form-control" rows="4"></textarea>
            <span asp-validation-for="@Model.DepartmentId" class="text-danger"></span>
        </div> *@
            <div class="form-group">
                <label asp-for="@Model.DepartmentId">Department</label>
                <select asp-for="@Model.DepartmentId" asp-items="deptLst" class="form-control">
                    <option>--- Select Department ---</option>
                </select>
                <span asp-validation-for="@Model.DepartmentId" class="text-danger"></span>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
