@model DepartmentViewModel
@{
    ViewData["Title"] = "Department Details";
    Layout = "~/Views/Shared/_AdminBoardLayout.cshtml";
    var Branches = new SelectList(ViewBag.Branches, "BranchId", "BranchName");
    var Instructors = new SelectList(ViewBag.Instructors, "InstructorId", "Name");
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        <h3>@TempData["Message"]</h3>
    </div>
}

<div id="content" class="p-4 p-md-5 pt-5">
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#" class="text-secondary">Home</a></li>
                            <li class="breadcrumb-item active">Department Details</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content mb-3">

            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Department Details</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
                            <div class="col-12">
                                <div class="form-group">
                                    <label asp-for="@Model.DepartmentId" class="col-form-label"></label>
                                    <input asp-for="@Model.DepartmentId" class="form-control" readonly />
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label asp-for="@Model.DeptName" class="col-form-label"></label>
                                    <input asp-for="@Model.DeptName" class="form-control" readonly />
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label asp-for="@Model.DeptLoc" class="col-form-label"></label>
                                    <input asp-for="@Model.DeptLoc" class="form-control" readonly />
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label asp-for="@Model.BranchId">Branch</label>
                                    <input asp-for="@Model.BranchId" class="form-control" readonly />
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label asp-for="@Model.InstructorId">Manager</label>
                                    <input asp-for="@Model.InstructorId" class="form-control" readonly />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
                        <div class="text-center mt-5 mb-3">
                            <a asp-action="Update" asp-route-id="@Model.DepartmentId" class="btn btn-sm btn-primary">Edit Department</a>
                            <a asp-action="Delete" asp-route-id="@Model.DepartmentId" class="btn btn-sm btn-warning">Delete Department</a>
                            <a class="btn btn-light" asp-action="Index">Back To List</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
    </div>
    <!-- /.card -->
    </section>
    <!-- /.content -->
</div>