@model TopicViewModel
@{
    SelectList Courses ;
    if (Model != null)
    {
        Courses = new SelectList(ViewBag.Courses, "CourseId", "CrsName", Model.CourseId);
    }
    else{
        Courses = new SelectList(ViewBag.Courses, "CourseId", "CrsName");
    }

}

<div class="card-body p-0">
    <div class="card card-primary">
        <div class="card-body">
            <input hidden type="text" asp-for="@Model.TopicId" />

            <div class="form-group">
                <label asp-for="@Model.TopicName">Topic Name</label>
                <input type="text" asp-for="@Model.TopicName" class="form-control">
                <span asp-validation-for="@Model.TopicName" class="text-danger"></span>
            </div>
        
            <div class="form-group">
                <label asp-for="@Model.CourseId">course</label>
                <select asp-for="@Model.CourseId" asp-items="Courses" class="form-control">
                    <option>--- Select Course ---</option>
                </select>
                <span asp-validation-for="@Model.CourseId" class="text-danger"></span>
            </div>            
           
        </div>
        <!-- /.card-body -->
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}