@model AuthViewModel
@{
    ViewData["Title"] = "Registeration";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<form asp-controller="Account" asp-action="SignUp" class="row gx-3 w-75 bg-white border rounded-5 p-3">
    <div class="col-12 ">
        <h4 class="text-center fw-bold">Sign Up Form</h4>
    </div>
    <div class="col-12">
        <input asp-for="@Model.Email" type="email" name="email" class="form-control text email" placeholder="Email Address" required="">
        <span asp-validation-for="@Model.Email" class="text-danger"></span>
    </div>
    <div class="col-12">
        <input asp-for="@Model.Password" type="password" class="form-control text" name="password" placeholder="Password" required="">
        <span asp-validation-for="@Model.Password" class="text-danger"></span>
    </div>
    <div class="col-12">
        <input asp-for="@Model.ConfirmPassword" type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password" required="">
        <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
    </div>

    <div class="col-12">
        <input type="checkbox" asp-for="@Model.IsAgree" class="checkbox" required="">
        <label class="form-check-label text-capitalize">i agree to the terms & conditions</label>
    </div>
    <div class="col-12 text-center mb-3">
        <input type="submit" value="Register" class="btn w-100 text-white fw-bold" />
    </div>
    <div class="col-12">
        <p>Have an Account? <a asp-action="SignIn"> Login Now!</a></p>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}