@model IEnumerable<Question>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminBoardLayout.cshtml";
}

<div id="content" class="p-4 p-md-5 pt-5">
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#" class="text-secondary">Home</a></li>
                            <li class="breadcrumb-item active">Questions</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content mb-3">

            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Questions</h3>
                </div>
                <div class="card-body p-0">
                    @if (Model?.Count() > 0 && Model !=null)
                    {
                        <table class="table table-striped projects">
                            <thead>
                                <tr>
                                    <th style="width: 20%">
                                        @Html.DisplayNameFor(M => M.QuestionId)
                                    </th>
                                    <th style="width: 20%">
                                        @Html.DisplayNameFor(M => M.QuestionText)
                                    </th>
                                    <th style="width: 20%">
                                        @Html.DisplayNameFor(M => M.QuestionAnswer)
                                    </th>
                                    <th style="width: 30%">
                                        @Html.DisplayNameFor(M => M.QuestionType)
                                    </th>
                                    <th style="width: 30%">
                                        @Html.DisplayNameFor(M => M.CourseId)
                                    </th>
                                    <th>

                                    </th>
                                    <th style="width: 8%" class="text-center">
                                    </th>
                                    <th style="width: 28%">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @item.QuestionId
                                        </td>
                                        <td>
                                            @item.QuestionText
                                        </td>
                                        <td>
                                            @item.QuestionAnswer
                                        </td>
                                        <td>
                                            @item.QuestionType
                                        </td>
                                        <td>
                                            @item.Course.CrsName
                                        </td>
                                        <td class="project_progress">
                                        </td>
                                        <td class="project-state">
                                        </td>
                                         <td class="project-actions text-right">
                                            @if (item.QuestionType == "TF")
                                            {
                                                <a class="btn btn-info btn-sm text-white" asp-action="UpdateTFQuestion" asp-route-id="@item.QuestionId">
                                                    <i class="fas fa-pencil-alt text-white">
                                                    </i>
                                                    Edit
                                                </a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-info btn-sm text-white" asp-action="UpdateMCQQuestion" asp-route-id="@item.QuestionId">
                                                <i class="fas fa-pencil-alt text-white">
                                                </i>
                                                Edit
                                                </a>    
                                                
                                            }
                                            <a class="btn btn-danger btn-sm" onclick="deleteQues(@item.QuestionId)">
                                        <i class="fas fa-trash text-white">
                                        </i>
                                        Delete
                                        </a>
                                        </td> 
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div class="alert alert-warning">
                            <h4>No Questions Found!!</h4>
                        </div>
                    }
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </section>
        <div class="row">
            <div class="col-12">
                <a asp-action="AddQuestion" class="btn btn-success float-right">Create new Question</a>
            </div>
        </div>
        <!-- /.content -->
    </div>
</div>



@section Scripts{


    <script>

        function deleteQues(id) {
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
               if (result.value) {
                $.ajax({
                    url: `/Question/Delete/${id}`,
                    type: 'DELETE',
                    success: function (data) {
                        /*Swal.fire({
                            title: "Deleted!",
                            text: "Your file has been deleted.",
                            icon: "success"
                        });*/
                        location.reload(); 
                    },
                    error: function (err) {

                    },
                })
                }
            });

        }

    </script>

}



            